<div class="container">

  <h1>Write me a messsage, and I'll cheer for you</h1>

    <form action="/answer">
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </form>


  </div>

</div>

<!-- ask the user for a message  -->
<!-- store that message in a variable -->
